#### This is a notebook

### Authentication part

In [1]:
from googleads import ad_manager
from googleads import oauth2
import pandas as pd

In [2]:
credentials = pd.read_csv("sqllab_untitled_query_7_20221006T120602.csv")

In [3]:
credentials.head()

,ca_key,ca_c_key,ca_a_key,ca_username,ca_password,ca_clientid,ca_clientsecret,ca_profileid,ca_developerkey,ca_serviceaccountname,ca_servicekey,ca_parameters,ca_enabled
0,5,2,4,NaN,NaN,191712914109-2b5mhu9pv6jblhfl2qmgamnd99gfagbk....,XQviNztdknGJQQZgH7h9uzJP,22056125484,AIzaSyBbir3fGfi8fBvWqrC6ToBfrZOsREq25do,outsider@handy-compass-282417.iam.gserviceacco...,"b'{\n ""type"": ""service_account"",\n ""project_...","b'{\n ""Smartview_Unit_Id"": ""22234973885""\n}'",7
1,9,0,4,NaN,NaN,115765867776352890972,Spiny,4670326,Spiny,spiny-gam@ott-ad.iam.gserviceaccount.com,"b'{\n ""type"": ""service_account"",\n ""project_...",NaN,0
2,11,3,4,NaN,NaN,252104473782-ki0k7tm9k414jk9lt9ig526kpptaa8df....,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,4670326,AIzaSyAofFm7loRhyki5a9abpuMFqtiMVB2ADk8,on3-829@on3com.iam.gserviceaccount.com,"b'{\n ""type"": ""service_account"",\n ""project_...","b'{\n ""Smartview_Unit_Id"": ""22624814917""\n}'",7
3,16,4,4,NaN,NaN,327477212067-0o58fftvg4t7ilkubhkarbtrli5qbg7j....,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,22688215754,AIzaSyCIX73HmTQnRKXMyKvPyoKxGZwuz5fzVLU,leaders-814@leaders-345719.iam.gserviceaccount...,"b'{\n ""type"": ""service_account"",\n ""project_...","b'{\n ""Smartview_Unit_Id"": ""22703133273""\n}'",7

In [4]:
import json

In [5]:
service_key = { "type": "service_account", "project_id": "handy-compass-282417", "private_key_id": "286ba5666f4ba0f018a24155a0ed4c4190df3c54", "private_key": "-----BEGIN PRIVATE KEY-----\nMIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQDTvkTISyflWWGX\nhl0a0c8wAg0CloUUoPY9N++srBrauL07ssDetAsbWWJuabCVLMe7d7Ir8UBVuKjR\njzJCF5OwN4JK/yH2yIjPNkKNHsEKw1tY8vT3255JASJu2BuTxBv7CmnOVBTaM0Lk\nVEvD25OzM2s8EBnpn38TW4kHQV/8h8wogpMEM3haFfgHx3iv26vmim/DBT+t2aJj\nYzve0ZeYI/sTxJCSGaP1LjzkogxfBc4IYOoRo+tn4HrLzfHFk/3bFQYd3Js+dMpn\n8+2O5QBaCAEJHUCLkgzIqWRhynb59PekXtUNiXX9hZ9nJZhtd/FKwUGEZ1bXtWNX\nnxVZ/bAvAgMBAAECggEAA3fm5YcBoMqdhB9h0AomxCkMcIHprSRT1D3h0ajCCdoj\n02ICscMuOWT17UwS5ealYOc9hmW9wYm0TjZzwsxjEWxfWH4kXsf7IbXIUkpyLAx2\nJxdXtuWkipqXp0wn63w3Xx3VDNmou8hCLL5KvWsP2MwbUhELc522taj2riU+fsLt\nCJkYCXajAtZ/iCCF7SSIa+Cw8wJpGRGt7pXg4ytpTLu8JCiKk+ZmRmea+NMgs2zZ\nFuoQxtsfm2kLx+7mAR7e3HRrcEXQiPRFq0Cdtrf590FvKSfy4L7uODdIXSTlLG6r\nYm0z2QRd/9AD+5AZpw3uR5j0R8l12UPRlS5fCOw7yQKBgQD8j6jOhF3pc+Ugecmk\nCRllf7nKQyyWa4SGpifj+8XvLx7mQPywOCeBbzKAN442LJeK7//IiS3K7pUWuNkk\nU0KbnG4aSYQI2IJGiUAPmRMDvWxSuMWNVEuGxhYExVl2QIbv+Nlc64u3ChgGlmze\nxz+C1m6/ih5uKyKzw4P0pkqatwKBgQDWoFUGiuG58xDq9dVHFBuv0+Olc5kzsnev\nxG5iArDtLMwdyqERfZpV13M9tM3Wx9JqvQHvWnXHKGp3Rql1za7AAYlBwLsbViKJ\ntObofg/Tigf3n166FdDYfI3AFzFfy/LnGHuB25cy7L9SkQebrySthghfOPISl22j\nxjI1Qnr+SQKBgQCP95w0TMPzxbrArmvA8+bkMtDHeU87V4Kt9p0amnSUCXpFqpng\nIcJzR92ztPd97iFcc76Mo5XU7fdSgoBU8pkvdxZUKb/4AuMQLkC0I3/xS9MpvGXw\nUDLVWqlGgvCiNdo1hNby3to/tqNHbgwVWeLcRDvRN3xtNG2Np0/a78frNQKBgEYT\nd295bRYfrMhql8ZrZFbWYh+lTMI6ZSW4hyntIwNtev/HJyvkzL12aSQeoo6cE7HS\nII2cBZSPN6PWKIJUM9hxJ/WWDgFw8DnyHOqQLm6tRMiu+mjbsqLcmBO9/tr+ZkLa\nFYliv01bS2SUAd3tI5aciqM8np0/YAb3MXF+UVYxAoGAIwWLQXsmV7bJkkID+8Pa\nX0xcj8Alsv1/LxekP+4jSV0wYZSYS+GBRJMxVw6Tshnmd14Kv8mG8Jx+k1N8zH31\nXwURDWH1Plv8jzglO1p5dMUXKSk6uOJk7eIuPN6ZoyLR6lGe6CqSejMg/P2bV/s1\n6qL4oz4l9ZKwsNQE5Kg1zaI=\n-----END PRIVATE KEY-----\n", "client_email": "outsider@handy-compass-282417.iam.gserviceaccount.com", "client_id": "103019355925370848853", "auth_uri": "https://accounts.google.com/o/oauth2/auth", "token_uri": "https://oauth2.googleapis.com/token", "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs", "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/outsider%40handy-compass-282417.iam.gserviceaccount.com" }

In [6]:
service_key

{'type': 'service_account',
 'project_id': 'handy-compass-282417',
 'private_key_id': '286ba5666f4ba0f018a24155a0ed4c4190df3c54',
 'private_key': '-----BEGIN PRIVATE KEY-----\nMIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQDTvkTISyflWWGX\nhl0a0c8wAg0CloUUoPY9N++srBrauL07ssDetAsbWWJuabCVLMe7d7Ir8UBVuKjR\njzJCF5OwN4JK/yH2yIjPNkKNHsEKw1tY8vT3255JASJu2BuTxBv7CmnOVBTaM0Lk\nVEvD25OzM2s8EBnpn38TW4kHQV/8h8wogpMEM3haFfgHx3iv26vmim/DBT+t2aJj\nYzve0ZeYI/sTxJCSGaP1LjzkogxfBc4IYOoRo+tn4HrLzfHFk/3bFQYd3Js+dMpn\n8+2O5QBaCAEJHUCLkgzIqWRhynb59PekXtUNiXX9hZ9nJZhtd/FKwUGEZ1bXtWNX\nnxVZ/bAvAgMBAAECggEAA3fm5YcBoMqdhB9h0AomxCkMcIHprSRT1D3h0ajCCdoj\n02ICscMuOWT17UwS5ealYOc9hmW9wYm0TjZzwsxjEWxfWH4kXsf7IbXIUkpyLAx2\nJxdXtuWkipqXp0wn63w3Xx3VDNmou8hCLL5KvWsP2MwbUhELc522taj2riU+fsLt\nCJkYCXajAtZ/iCCF7SSIa+Cw8wJpGRGt7pXg4ytpTLu8JCiKk+ZmRmea+NMgs2zZ\nFuoQxtsfm2kLx+7mAR7e3HRrcEXQiPRFq0Cdtrf590FvKSfy4L7uODdIXSTlLG6r\nYm0z2QRd/9AD+5AZpw3uR5j0R8l12UPRlS5fCOw7yQKBgQD8j6jOhF3pc+Ugecmk\nCRllf7nKQyyWa4SGpifj+8XvLx7mQPywOCeBbzKAN442LJeK7//IiS3K7pUWuNkk\nU0KbnG4aSYQI2IJGiUAPmRMDvWxSuMWNVEuGxhYExVl2QIbv+Nlc64u3ChgGlmze\nxz+C1m6/ih5uKyKzw4P0pkqatwKBgQDWoFUGiuG58xDq9dVHFBuv0+Olc5kzsnev\nxG5iArDtLMwdyqERfZpV13M9tM3Wx9JqvQHvWnXHKGp3Rql1za7AAYlBwLsbViKJ\ntObofg/Tigf3n166FdDYfI3AFzFfy/LnGHuB25cy7L9SkQebrySthghfOPISl22j\nxjI1Qnr+SQKBgQCP95w0TMPzxbrArmvA8+bkMtDHeU87V4Kt9p0amnSUCXpFqpng\nIcJzR92ztPd97iFcc76Mo5XU7fdSgoBU8pkvdxZUKb/4AuMQLkC0I3/xS9MpvGXw\nUDLVWqlGgvCiNdo1hNby3to/tqNHbgwVWeLcRDvRN3xtNG2Np0/a78frNQKBgEYT\nd295bRYfrMhql8ZrZFbWYh+lTMI6ZSW4hyntIwNtev/HJyvkzL12aSQeoo6cE7HS\nII2cBZSPN6PWKIJUM9hxJ/WWDgFw8DnyHOqQLm6tRMiu+mjbsqLcmBO9/tr+ZkLa\nFYliv01bS2SUAd3tI5aciqM8np0/YAb3MXF+UVYxAoGAIwWLQXsmV7bJkkID+8Pa\nX0xcj8Alsv1/LxekP+4jSV0wYZSYS+GBRJMxVw6Tshnmd14Kv8mG8Jx+k1N8zH31\nXwURDWH1Plv8jzglO1p5dMUXKSk6uOJk7eIuPN6ZoyLR6lGe6CqSejMg/P2bV/s1\n6qL4oz4l9ZKwsNQE5Kg1zaI=\n-----END PRIVATE KEY-----\n',
 'client_email': 'outsider@handy-compass-282417.iam.gserviceaccount.com',
 'client_id': '103019355925370848853',
 'auth_uri': 'https://accounts.google.com/o/oauth2/auth',
 'token_uri': 'https://oauth2.googleapis.com/token',
 'auth_provider_x509_cert_url': 'https://www.googleapis.com/oauth2/v1/certs',
 'client_x509_cert_url': 'https://www.googleapis.com/robot/v1/metadata/x509/outsider%40handy-compass-282417.iam.gserviceaccount.com'}

In [7]:
from pathlib import Path
service_key_path = Path('/tmp/service_key.json')

In [8]:
with open(service_key_path, 'w') as file:
    json.dump(service_key, file)

In [9]:
application_name = "Spiny"

In [10]:
oauth2_client = oauth2.GoogleServiceAccountClient(service_key_path, oauth2.GetAPIScope('ad_manager'))

In [12]:
ad_manager_client = ad_manager.AdManagerClient(oauth2_client, application_name)

In [13]:
networks = ad_manager_client.GetService('NetworkService').getAllNetworks()

In [14]:
for network in networks:
   print('Network with network code "%s" and display name "%s" was found. at the following timezone "%s"'% (network['networkCode'], network['displayName'], network["timeZone"]))

Network with network code "22056125484" and display name "Outsider" was found. at the following timezone "America/Chicago"

In [15]:
ad_manager_client.network_code = networks[0]['networkCode']
ad_manager.timezone = networks[0]['timeZone']

In [16]:
report_downloader = ad_manager_client.GetDataDownloader(version='v202208')

In [17]:
def add_dates_ranges(report_job, start_date, end_date):
    """add the start date and the end date to the report job.

    Args:
        report_job (_type_): _description_
        start_date (_type_): _description_
        end_date (_type_): _description_
    """
    if start_date and end_date:
        report_job['reportQuery']['dateRangeType'] = 'CUSTOM_DATE'
        report_job['reportQuery']['startDate'] = start_date
        report_job['reportQuery']['endDate'] = end_date
    else:
        report_job["reportQuery"]["dateRangeType"] = 'YESTERDAY'
    return report_job

In [19]:
def generate_report_per_hour(start_date, end_date):
    """this generate the report for ad unit per hour.

    Args:
        start_date (_type_): _description_
        end_date (_type_): _description_
    """
    columns = ["TOTAL_INVENTORY_LEVEL_UNFILLED_IMPRESSIONS",
                "TOTAL_LINE_ITEM_LEVEL_IMPRESSIONS",
                "TOTAL_LINE_ITEM_LEVEL_CLICKS",
                "TOTAL_LINE_ITEM_LEVEL_CPM_AND_CPC_REVENUE",
                "TOTAL_LINE_ITEM_LEVEL_WITHOUT_CPD_AVERAGE_ECPM",
                "TOTAL_LINE_ITEM_LEVEL_CTR",
                "TOTAL_CODE_SERVED_COUNT"]
    dimensions = ['AD_UNIT_NAME', 'HOUR', "DATE"]
    report_job = {"reportQuery":{}}
    report_job['reportQuery']['dimensions'] = dimensions
    report_job['reportQuery']['columns'] = columns
    report_job["reportQuery"]["adUnitView"] = 'HIERARCHICAL'
    report_job = add_dates_ranges(report_job, start_date, end_date)
    return report_job

In [20]:
from datetime import datetime, timedelta

In [21]:
end_time = datetime.today()
start_time = end_time - timedelta(days=1)

In [22]:
def convert_time_to_dict(date):
    return {
        'year': date.year,
        'month': date.month,
        'day': date.day
    }

In [23]:
end_time = convert_time_to_dict(end_time)
start_time = convert_time_to_dict(start_time)

In [63]:
two_days_ago = convert_time_to_dict(datetime.today() - timedelta(days=2))

In [64]:
two_days_ago

{'year': 2022, 'month': 10, 'day': 11}

In [113]:
ad_unit_per_hour_report_job = generate_report_per_hour(two_days_ago, two_days_ago)

In [114]:
ad_unit_per_hour_report_job

{'reportQuery': {'dimensions': ['AD_UNIT_NAME', 'HOUR', 'DATE'],
  'columns': ['TOTAL_INVENTORY_LEVEL_UNFILLED_IMPRESSIONS',
   'TOTAL_LINE_ITEM_LEVEL_IMPRESSIONS',
   'TOTAL_LINE_ITEM_LEVEL_CLICKS',
   'TOTAL_LINE_ITEM_LEVEL_CPM_AND_CPC_REVENUE',
   'TOTAL_LINE_ITEM_LEVEL_WITHOUT_CPD_AVERAGE_ECPM',
   'TOTAL_LINE_ITEM_LEVEL_CTR',
   'TOTAL_CODE_SERVED_COUNT'],
  'adUnitView': 'HIERARCHICAL',
  'dateRangeType': 'CUSTOM_DATE',
  'startDate': {'year': 2022, 'month': 10, 'day': 11},
  'endDate': {'year': 2022, 'month': 10, 'day': 11}}}

In [29]:
from googleads import errors

In [115]:
def run_report(report_job):
    """this run the report and return the report id.

    Args:
        report_job (_type_): _description_
    """
    try:
        # Run the report and wait for it to finish.
        report_job_id = report_downloader.WaitForReport(report_job)
    except errors.AdManagerReportError as e:
        print('Failed to generate report. Error was: {}'.format(e))
    return report_job_id

In [116]:
export_format = 'CSV_DUMP'
import tempfile

In [117]:
def generate_report(report_job_id):
  report_file = tempfile.NamedTemporaryFile(suffix='.csv.gz', delete=False)
  report_downloader.DownloadReportToFile(report_job_id, export_format, report_file)
  report_file.close()
  print('Report job with id "%s" downloaded to:\n%s' % (report_job_id, report_file.name))
  return report_file.name

In [118]:
report_job_id = run_report(ad_unit_per_hour_report_job)

In [119]:
report_file = generate_report(report_job_id)

Report job with id "13236125766" downloaded to:
/var/folders/vw/wxy_zhb13jq46hkwv_3fs97m0000gn/T/tmpmmtb_ycx.csv.gz

In [120]:
ad_unit_per_hour_df = pd.read_csv(report_file, compression='gzip', header=0, sep=',', quotechar='"')

In [121]:
ad_unit_per_hour_df

,Ad unit 1,Ad unit 2,Dimension.HOUR,Dimension.DATE,Ad unit ID 1,Ad unit ID 2,Column.TOTAL_INVENTORY_LEVEL_UNFILLED_IMPRESSIONS,Column.TOTAL_LINE_ITEM_LEVEL_IMPRESSIONS,Column.TOTAL_LINE_ITEM_LEVEL_CLICKS,Column.TOTAL_LINE_ITEM_LEVEL_CPM_AND_CPC_REVENUE,Column.TOTAL_LINE_ITEM_LEVEL_WITHOUT_CPD_AVERAGE_ECPM,Column.TOTAL_LINE_ITEM_LEVEL_CTR,Column.TOTAL_CODE_SERVED_COUNT
0,dw-outsider,NaN,0,2022-10-11,22061670679,-,7,1442,1,1801683,1249434,0.0007,1579
1,dw-outsider,NaN,1,2022-10-11,22061670679,-,3,907,1,1280768,1412093,0.0011,1025
2,dw-outsider,NaN,2,2022-10-11,22061670679,-,4,429,0,837108,1951300,0.0000,536
3,dw-outsider,NaN,3,2022-10-11,22061670679,-,7,677,2,1299539,1919556,0.0030,789
4,dw-outsider,NaN,4,2022-10-11,22061670679,-,0,867,1,1413295,1630098,0.0012,992
...,...,...,...,...,...,...,...,...,...,...,...,...,...
198,smartview-outsider,NaN,19,2022-10-11,22234973885,-,20,21386,92,12666457,592278,0.0043,23390
199,smartview-outsider,NaN,20,2022-10-11,22234973885,-,50,27161,103,17043912,627514,0.0038,30202
200,smartview-outsider,NaN,21,2022-10-11,22234973885,-,33,27983,114,16946787,605610,0.0041,30832
201,smartview-outsider,NaN,22,2022-10-11,22234973885,-,33,18525,81,10910294,588950,0.0044,20365
202,smartview-outsider,NaN,23,2022-10-11,22234973885,-,28,10673,41,7416298,694865,0.0038,11470

In [43]:
def get_custom_targeting_keys_ids(name:str) -> list:
    all_keys = []
    custom_targeting_service = ad_manager_client.GetService('CustomTargetingService', version='v202208')
    statement_builder = ad_manager.StatementBuilder(version='v202208')
    page_size = ad_manager.SUGGESTED_PAGE_LIMIT
    if name:
        statement_builder = statement_builder.Where("name = :name").WithBindVariable('name', name)
    statement_builder.limit = page_size
   
    total_result_set_size = 0
    while True:
        response = custom_targeting_service.getCustomTargetingKeysByStatement(statement_builder.ToStatement())
        if 'results' in response and len(response['results']):
            all_keys.extend(response['results'])
            statement_builder.offset += statement_builder.limit
        else:
            break
    customs_target_values = get_custom_targeting_values(all_keys)
    return customs_target_values


def get_custom_targeting_values(all_keys: list) -> list:
    """given a list of keys retrieve the custom targeting values

    Args:
        all_keys (list): _description_

    Returns:
        dict: _description_
    """
    targeting_values = list()
    if all_keys:
        statement_builder = ad_manager.StatementBuilder(version='v202208')
        custom_targeting_service = ad_manager_client.GetService('CustomTargetingService', version='v202208')
        statement = statement_builder.Where("customTargetingKeyId IN ({})".format(",".join([str(key['id']) for key in all_keys])))
        while True:
            response = custom_targeting_service.getCustomTargetingValuesByStatement(statement.ToStatement())
            if 'results' in response and len(response['results']):
                for custom_targeting_value in response['results']:
                    custom_targe_dict = {"id": custom_targeting_value['id'], 
                                         "name": custom_targeting_value['name'],
                                         "displayName": custom_targeting_value['displayName'],
                                         "customTargetingKeyId": custom_targeting_value['customTargetingKeyId']}
                    targeting_values.append(custom_targe_dict)
                statement.offset += statement.limit
            else:
                break
    print("found {} custom targeting values".format(len(targeting_values)))
    return targeting_values

In [44]:
targeting_values = get_custom_targeting_keys_ids("referrer")

found 16 custom targeting values

In [45]:
targeting_values[3]

{'id': 448229654161,
 'name': 'pinterest',
 'displayName': None,
 'customTargetingKeyId': 12091825}

In [67]:
def build_report_by_referrer(targeting_values: list, start_date: dict = {}, end_date: dict = {}) -> dict:
    """build a custom traffic source report

    Args:
        targeting_values (list): _description_

    Returns:
        dict: _description_
    """
    targets_ids = [targeting_value['id'] for targeting_value in targeting_values if targeting_value["id"]]
    targets_ids = ", ".join([str(target_id) for target_id in targets_ids])
    report_job = {"reportQuery":{}}
    custom_traffic_source_columns = [
            "TOTAL_LINE_ITEM_LEVEL_CPM_AND_CPC_REVENUE",
            "TOTAL_LINE_ITEM_LEVEL_IMPRESSIONS",
            "TOTAL_LINE_ITEM_LEVEL_CLICKS",
            "TOTAL_LINE_ITEM_LEVEL_WITHOUT_CPD_AVERAGE_ECPM",
            "TOTAL_ACTIVE_VIEW_VIEWABLE_IMPRESSIONS",
            "TOTAL_ACTIVE_VIEW_MEASURABLE_IMPRESSIONS",
            "TOTAL_ACTIVE_VIEW_ELIGIBLE_IMPRESSIONS",
        ]
    dimensions = ['ADVERTISER_NAME', 'CUSTOM_CRITERIA', 'AD_UNIT_ID', "DATE"]
    report_job["reportQuery"]["dimensions"] = dimensions
    report_job["reportQuery"]["columns"] = custom_traffic_source_columns
    report_job["reportQuery"]["adUnitView"] = 'HIERARCHICAL'
    statement_builder = ad_manager.StatementBuilder(version='v202208')
    statement_builder.Where(f"CUSTOM_TARGETING_VALUE_ID IN ({targets_ids})")
    statement_builder.Limit(None).Offset(None)
    report_job["reportQuery"]["statement"] = statement_builder.ToStatement()
    report_job = add_dates_ranges(report_job, start_date, end_date)
    return report_job

In [68]:
traffic_source_report_by_referrer = build_report_by_referrer(targeting_values, 
                                                             start_date=two_days_ago, 
                                                             end_date=two_days_ago)

In [69]:
traffic_source_report_by_referrer

{'reportQuery': {'dimensions': ['ADVERTISER_NAME',
   'CUSTOM_CRITERIA',
   'AD_UNIT_ID',
   'DATE'],
  'columns': ['TOTAL_LINE_ITEM_LEVEL_CPM_AND_CPC_REVENUE',
   'TOTAL_LINE_ITEM_LEVEL_IMPRESSIONS',
   'TOTAL_LINE_ITEM_LEVEL_CLICKS',
   'TOTAL_LINE_ITEM_LEVEL_WITHOUT_CPD_AVERAGE_ECPM'],
  'adUnitView': 'HIERARCHICAL',
  'statement': {'query': 'WHERE CUSTOM_TARGETING_VALUE_ID IN (448229654107, 448229654113, 448229654134, 448229654161, 448229654191, 448229654203, 448229826846, 448229826849, 448229826885, 448230297917, 448257513429, 448258036235, 448265353017, 448307979267, 448440595219, 448440595222)',
   'values': None},
  'dateRangeType': 'CUSTOM_DATE',
  'startDate': {'year': 2022, 'month': 10, 'day': 11},
  'endDate': {'year': 2022, 'month': 10, 'day': 11}}}

In [70]:
report_by_referrer_job_id = run_report(traffic_source_report_by_referrer)

In [71]:
report_by_referrer_file = generate_report(report_by_referrer_job_id)

Report job with id "13236085085" downloaded to:
/var/folders/vw/wxy_zhb13jq46hkwv_3fs97m0000gn/T/tmpajk7bxck.csv.gz

In [72]:
ad_unit_per_referrer_df  = pd.read_csv(report_by_referrer_file)

In [73]:
ad_unit_per_referrer_df.head()

,Dimension.ADVERTISER_NAME,Dimension.CUSTOM_CRITERIA,Ad unit ID 1,Ad unit ID 2,Dimension.DATE,Dimension.ADVERTISER_ID,Dimension.CUSTOM_TARGETING_VALUE_ID,Ad unit 1,Ad unit 2,Column.TOTAL_LINE_ITEM_LEVEL_CPM_AND_CPC_REVENUE,Column.TOTAL_LINE_ITEM_LEVEL_IMPRESSIONS,Column.TOTAL_LINE_ITEM_LEVEL_CLICKS,Column.TOTAL_LINE_ITEM_LEVEL_WITHOUT_CPD_AVERAGE_ECPM
0,-,referrer=direct,22061670679,-,2022-10-11,-1,448229654113,dw-outsider,NaN,3655398,3217,9,1136276
1,-,referrer=direct,22061670679,22064007867,2022-10-11,-1,448229654113,dw-outsider,news-article,59342,162,0,366310
2,-,referrer=direct,22061670679,22678688948,2022-10-11,-1,448229654113,dw-outsider,home,434,2,0,216920
3,-,referrer=direct,22061790345,-,2022-10-11,-1,448229654113,mw-outsider,NaN,25780995,14848,115,1736328
4,-,referrer=direct,22061790345,22063951904,2022-10-11,-1,448229654113,mw-outsider,news-article,389144,327,2,1190044

In [74]:
columns_mapping = {
    "AdUnitOne": 'Ad unit 1',
    "AdUnitTwo": 'Ad unit 2',
    "AdUnitThree": 'Ad unit 3',
    "Advertiser": 'Dimension.ADVERTISER_NAME',
    "CreativeSizeDeliveredWidth": 'Dimension.CREATIVE_SIZE_DELIVERED',
    "CreativeSizeDeliveredHeight": 'Dimension.CREATIVE_SIZE_DELIVERED',
    "LineItemType": 'Dimension.LINE_ITEM_TYPE',
    "LineItemName": 'Dimension.LINE_ITEM_NAME',
    "InventoryType": 'Dimension.MOBILE_INVENTORY_TYPE',
    "DeviceCategoryName": 'Dimension.DEVICE_CATEGORY_NAME',
    'BreakdownKey': 'Dimension.CUSTOM_CRITERIA',
    'BreakdownValue': 'Dimension.CUSTOM_CRITERIA',
    "Hour": "Dimension.HOUR",
    'TotalUnmatchedAdRequests': 'Column.TOTAL_UNMATCHED_AD_REQUESTS',
    'TotalResponsesServed': 'Column.TOTAL_RESPONSES_SERVED',
    'TotalActiveViewViewableImpressions': 'Column.TOTAL_ACTIVE_VIEW_VIEWABLE_IMPRESSIONS',
    'TotalActiveViewMeasurableImpressions': 'Column.TOTAL_ACTIVE_VIEW_MEASURABLE_IMPRESSIONS',
    'TotalActiveViewEligibleImpressions': 'Column.TOTAL_ACTIVE_VIEW_ELIGIBLE_IMPRESSIONS',
    'TotalRevenue': 'Column.TOTAL_LINE_ITEM_LEVEL_ALL_REVENUE',
    'TotalCpmAndCpcRevenue': 'Column.TOTAL_LINE_ITEM_LEVEL_CPM_AND_CPC_REVENUE',
    'TotalAdRequests': 'Column.TOTAL_AD_REQUESTS',
    'TotalImpressions': 'Column.TOTAL_LINE_ITEM_LEVEL_IMPRESSIONS',
    "TotalEcpm": 'Column.TOTAL_LINE_ITEM_LEVEL_WITHOUT_CPD_AVERAGE_ECPM',
    "TotalEcp:withCpd": 'Column.TOTAL_LINE_ITEM_LEVEL_WITH_CPD_AVERAGE_ECPM',
    "TotalUnfilledImpressions": 'Column.TOTAL_INVENTORY_LEVEL_UNFILLED_IMPRESSIONS',
    'TotalClicks': 'Column.TOTAL_LINE_ITEM_LEVEL_CLICKS'}
columns_mapping = {v:k for k, v in columns_mapping.items()}

In [75]:
columns_mapping

{'Ad unit 1': 'AdUnitOne',
 'Ad unit 2': 'AdUnitTwo',
 'Ad unit 3': 'AdUnitThree',
 'Dimension.ADVERTISER_NAME': 'Advertiser',
 'Dimension.CREATIVE_SIZE_DELIVERED': 'CreativeSizeDeliveredHeight',
 'Dimension.LINE_ITEM_TYPE': 'LineItemType',
 'Dimension.LINE_ITEM_NAME': 'LineItemName',
 'Dimension.MOBILE_INVENTORY_TYPE': 'InventoryType',
 'Dimension.DEVICE_CATEGORY_NAME': 'DeviceCategoryName',
 'Dimension.CUSTOM_CRITERIA': 'BreakdownValue',
 'Dimension.HOUR': 'Hour',
 'Column.TOTAL_UNMATCHED_AD_REQUESTS': 'TotalUnmatchedAdRequests',
 'Column.TOTAL_RESPONSES_SERVED': 'TotalResponsesServed',
 'Column.TOTAL_ACTIVE_VIEW_VIEWABLE_IMPRESSIONS': 'TotalActiveViewViewableImpressions',
 'Column.TOTAL_ACTIVE_VIEW_MEASURABLE_IMPRESSIONS': 'TotalActiveViewMeasurableImpressions',
 'Column.TOTAL_ACTIVE_VIEW_ELIGIBLE_IMPRESSIONS': 'TotalActiveViewEligibleImpressions',
 'Column.TOTAL_LINE_ITEM_LEVEL_ALL_REVENUE': 'TotalRevenue',
 'Column.TOTAL_LINE_ITEM_LEVEL_CPM_AND_CPC_REVENUE': 'TotalCpmAndCpcRevenue',
 'Column.TOTAL_AD_REQUESTS': 'TotalAdRequests',
 'Column.TOTAL_LINE_ITEM_LEVEL_IMPRESSIONS': 'TotalImpressions',
 'Column.TOTAL_LINE_ITEM_LEVEL_WITHOUT_CPD_AVERAGE_ECPM': 'TotalEcpm',
 'Column.TOTAL_LINE_ITEM_LEVEL_WITH_CPD_AVERAGE_ECPM': 'TotalEcp:withCpd',
 'Column.TOTAL_INVENTORY_LEVEL_UNFILLED_IMPRESSIONS': 'TotalUnfilledImpressions',
 'Column.TOTAL_LINE_ITEM_LEVEL_CLICKS': 'TotalClicks'}

In [76]:
ad_unit_per_referrer_df = ad_unit_per_referrer_df.rename(columns_mapping, axis="columns").rename({"BreakdownValue": "referrer"}, axis="columns")

In [77]:
ad_unit_per_referrer_df.head()

,Advertiser,referrer,Ad unit ID 1,Ad unit ID 2,Dimension.DATE,Dimension.ADVERTISER_ID,Dimension.CUSTOM_TARGETING_VALUE_ID,AdUnitOne,AdUnitTwo,TotalCpmAndCpcRevenue,TotalImpressions,TotalClicks,TotalEcpm
0,-,referrer=direct,22061670679,-,2022-10-11,-1,448229654113,dw-outsider,NaN,3655398,3217,9,1136276
1,-,referrer=direct,22061670679,22064007867,2022-10-11,-1,448229654113,dw-outsider,news-article,59342,162,0,366310
2,-,referrer=direct,22061670679,22678688948,2022-10-11,-1,448229654113,dw-outsider,home,434,2,0,216920
3,-,referrer=direct,22061790345,-,2022-10-11,-1,448229654113,mw-outsider,NaN,25780995,14848,115,1736328
4,-,referrer=direct,22061790345,22063951904,2022-10-11,-1,448229654113,mw-outsider,news-article,389144,327,2,1190044

In [78]:
ad_unit_per_referrer_df.referrer = ad_unit_per_referrer_df.referrer.str.replace("referrer=", "")

In [79]:
device_mapping = {"amp": "AMP", "dw": "WEB", "mw": "WEB", "smartview": "WEB"}

In [80]:
ad_unit_per_referrer_df["ad_unit"] = ad_unit_per_referrer_df["AdUnitOne"].str.split("-").str[0]

In [81]:
ad_unit_per_referrer_df.head()

,Advertiser,referrer,Ad unit ID 1,Ad unit ID 2,Dimension.DATE,Dimension.ADVERTISER_ID,Dimension.CUSTOM_TARGETING_VALUE_ID,AdUnitOne,AdUnitTwo,TotalCpmAndCpcRevenue,TotalImpressions,TotalClicks,TotalEcpm,ad_unit
0,-,direct,22061670679,-,2022-10-11,-1,448229654113,dw-outsider,NaN,3655398,3217,9,1136276,dw
1,-,direct,22061670679,22064007867,2022-10-11,-1,448229654113,dw-outsider,news-article,59342,162,0,366310,dw
2,-,direct,22061670679,22678688948,2022-10-11,-1,448229654113,dw-outsider,home,434,2,0,216920,dw
3,-,direct,22061790345,-,2022-10-11,-1,448229654113,mw-outsider,NaN,25780995,14848,115,1736328,mw
4,-,direct,22061790345,22063951904,2022-10-11,-1,448229654113,mw-outsider,news-article,389144,327,2,1190044,mw

Add Unit Per hour

In [92]:
ad_unit_per_referrer_df_group = ad_unit_per_referrer_df.groupby(["ad_unit", "referrer"]).agg(total_cpm_cpc_revenue= ("TotalCpmAndCpcRevenue", "sum"), 
                                                              total_impressions=("TotalImpressions", "sum"), 
                                                              total_average_eCpm=("TotalEcpm", "mean"),
                                                              total_sum_eCpm=("TotalEcpm", "sum"),
                                                              total_clicks=("TotalClicks", "sum"))

In [93]:
ad_unit_per_referrer_df_group

                    total_cpm_cpc_revenue  total_impressions  \
ad_unit referrer
amp     direct                   36957093              13027
        discover                 18865900               8666
        facebook                    19639                 63
        googlenews                  23943                 28
        newsbreak               167794547             156904
        other                       37904                 68
        search                   26858292              33189
        smartnews                30820164              18956
        twitter                     22108                228
dw      amp                         12698                  5
        direct                    9639869               6335
        facebook                 61449199              41462
        newsbreak                 5251142               4061
        other                    13173470               7949
        search                   79030662              43008
        smartnews                 2015211               1236
        twitter                    939570                419
mw      amp                       1477924                748
        direct                   41486799              26200
        discover                    58953                 49
        facebook                454797610             305519
        instagram                   24800                 18
        newsbreak                84464885              70344
        other                    20666186              10113
        search                   37779194              19838
        smartnews                14258680               7716
        twitter                   2963648               2510

                    total_average_eCpm  total_sum_eCpm  total_clicks
ad_unit referrer
amp     direct            2.060062e+06         4120124           237
        discover          2.069594e+06         4139188            92
        facebook          3.117310e+05          311731             0
        googlenews        1.165618e+06         2331237             0
        newsbreak         1.055917e+06         3167751          2282
        other             5.574100e+05          557410             1
        search            1.026553e+06         2053106           179
        smartnews         1.438058e+06         2876117           372
        twitter           9.696600e+04           96966             2
dw      amp               1.587250e+06         3174500             0
        direct            1.042272e+06        10422719             9
        facebook          1.219817e+06        10978353            10
        newsbreak         1.540203e+06         6160812            15
        other             1.327439e+06        13274388             6
        search            1.284566e+06        14130222            35
        smartnews         9.880269e+05         7904215             4
        twitter           1.460740e+06        10225181             0
mw      amp               1.629197e+06         8145983             1
        direct            1.394774e+06        22316378           117
        discover          1.851389e+06        12959725             0
        facebook          1.024729e+06        13321473           646
        instagram         1.408333e+06         4225000             0
        newsbreak         9.573897e+05        11488676           315
        other             1.266523e+06        22797419            66
        search            1.337370e+06        16048441            57
        smartnews         1.311570e+06        17050411            41
        twitter           1.389463e+06        13894634             2

In [122]:
ad_unit_per_hour_df.head()

,Ad unit 1,Ad unit 2,Dimension.HOUR,Dimension.DATE,Ad unit ID 1,Ad unit ID 2,Column.TOTAL_INVENTORY_LEVEL_UNFILLED_IMPRESSIONS,Column.TOTAL_LINE_ITEM_LEVEL_IMPRESSIONS,Column.TOTAL_LINE_ITEM_LEVEL_CLICKS,Column.TOTAL_LINE_ITEM_LEVEL_CPM_AND_CPC_REVENUE,Column.TOTAL_LINE_ITEM_LEVEL_WITHOUT_CPD_AVERAGE_ECPM,Column.TOTAL_LINE_ITEM_LEVEL_CTR,Column.TOTAL_CODE_SERVED_COUNT
0,dw-outsider,NaN,0,2022-10-11,22061670679,-,7,1442,1,1801683,1249434,0.0007,1579
1,dw-outsider,NaN,1,2022-10-11,22061670679,-,3,907,1,1280768,1412093,0.0011,1025
2,dw-outsider,NaN,2,2022-10-11,22061670679,-,4,429,0,837108,1951300,0.0000,536
3,dw-outsider,NaN,3,2022-10-11,22061670679,-,7,677,2,1299539,1919556,0.0030,789
4,dw-outsider,NaN,4,2022-10-11,22061670679,-,0,867,1,1413295,1630098,0.0012,992

In [125]:
ad_unit_per_hour_df["ad_unit"] = ad_unit_per_hour_df["Ad unit 1"].str.split("-").str[0]

In [124]:
ad_unit_per_hour_df = ad_unit_per_hour_df.rename({"Dimension.HOUR": "hour", "Dimension.DATE": "DATE"}, axis='columns')

In [126]:
ad_unit_per_hour_df = ad_unit_per_hour_df.rename(columns_mapping, axis="columns")

In [127]:
ad_unit_per_hour_df.head()

,AdUnitOne,AdUnitTwo,hour,DATE,Ad unit ID 1,Ad unit ID 2,TotalUnfilledImpressions,TotalImpressions,TotalClicks,TotalCpmAndCpcRevenue,TotalEcpm,Column.TOTAL_LINE_ITEM_LEVEL_CTR,Column.TOTAL_CODE_SERVED_COUNT,ad_unit
0,dw-outsider,NaN,0,2022-10-11,22061670679,-,7,1442,1,1801683,1249434,0.0007,1579,dw
1,dw-outsider,NaN,1,2022-10-11,22061670679,-,3,907,1,1280768,1412093,0.0011,1025,dw
2,dw-outsider,NaN,2,2022-10-11,22061670679,-,4,429,0,837108,1951300,0.0000,536,dw
3,dw-outsider,NaN,3,2022-10-11,22061670679,-,7,677,2,1299539,1919556,0.0030,789,dw
4,dw-outsider,NaN,4,2022-10-11,22061670679,-,0,867,1,1413295,1630098,0.0012,992,dw

In [71]:
ad_unit_by_referrer_expected = "Ad unit by referrer.csv"
ad_unit_per_hours_expected_path = Path.cwd().joinpath("Ad-unit-per-hours.csv")

In [72]:
Path.cwd().joinpath(ad_unit_by_referrer_expected).exists()

True

In [88]:
ad_unit_by_referrer_df_expected = pd.read_csv(Path.cwd().joinpath(ad_unit_by_referrer_expected), thousands=",")

In [90]:
ad_unit_by_referrer_df_expected['referrer'] = ad_unit_by_referrer_df_expected['Key-values'].str.replace("referrer=", "")

In [91]:
ad_unit_by_referrer_df_expected["Ad unit"] = ad_unit_by_referrer_df_expected["Ad unit"].str.split("-").str[0]

In [92]:
ad_unit_by_referrer_df_expected.head()

,Ad unit,Key-values,Date,Ad unit ID,Key-values ID,Total impressions,Total clicks,Total CPM and CPC revenue ($),Total average eCPM ($),Total CTR,referrer
0,amp,referrer=direct,10/11/22,2.206395e+10,4.482297e+11,"13,027",237,36.96,2.84,1.82%,direct
1,amp,referrer=discover,10/11/22,2.206395e+10,4.482303e+11,"8,666",92,18.87,2.18,1.06%,discover
2,amp,referrer=facebook,10/11/22,2.206395e+10,4.482298e+11,63,0,0.02,0.31,0.00%,facebook
3,amp,referrer=googlenews,10/11/22,2.206395e+10,4.482654e+11,28,0,0.02,0.86,0.00%,googlenews
4,amp,referrer=newsbreak,10/11/22,2.206395e+10,4.482575e+11,"156,904","2,277",167.61,1.07,1.45%,newsbreak

In [96]:
ad_unit_by_referrer_df_expected = ad_unit_by_referrer_df_expected.rename({"Total impressions": "total_impressions",
                                              "Total clicks": "total_clicks",
                                              "Total CPM and CPC revenue ($)": "total_cpm_cpc_revenue",
                                              "Total average eCPM ($)": "total_average_eCpm"}, axis="columns")

In [97]:
ad_unit_by_referrer_df_group_expected = ad_unit_by_referrer_df_expected.loc[:, ["Ad unit", 
                                        'referrer', 
                                        "total_impressions",
                                        "total_clicks", 
                                        "total_cpm_cpc_revenue", 
                                        "total_average_eCpm", "Date"]].groupby(["Ad unit", "referrer"]).agg(
                                            total_cpm_cpc_revenue=("total_cpm_cpc_revenue", "sum"), 
                                            total_impressions=("total_impressions", "sum"), 
                                            total_average_eCpm=("total_average_eCpm", "mean"),
                                            total_sum_eCpm=("total_average_eCpm", "sum"),
                                        )

In [98]:
ad_unit_per_referrer_df_group

                    total_cpm_cpc_revenue  total_impressions  \
ad_unit referrer
amp     direct                     36.957              13027
        discover                   18.866               8666
        facebook                    0.020                 63
        googlenews                  0.024                 28
        newsbreak                 167.609             156904
        other                       0.038                 68
        search                     26.858              33189
        smartnews                  30.820              18956
        twitter                     0.022                228
dw      amp                         0.013                  5
        direct                      9.668               6357
        facebook                   61.503              41481
        newsbreak                   5.251               4061
        other                      13.173               7949
        search                     79.031              43008
        smartnews                   2.015               1236
        twitter                     0.940                419
mw      amp                         1.478                748
        direct                     41.487              26200
        discover                    0.059                 49
        facebook                  455.076             305525
        instagram                   0.025                 18
        newsbreak                  84.465              70344
        other                      20.666              10113
        search                     37.834              19838
        smartnews                  14.259               7716
        twitter                     2.964               2510

                    total_average_eCpm  total_sum_eCpm  total_clicks  \
ad_unit referrer
amp     direct                   2.060           4.120           237
        discover                 2.070           4.139            92
        facebook                 0.312           0.312             0
        googlenews               1.166           2.331             0
        newsbreak                1.055           3.166          2278
        other                    0.557           0.557             1
        search                   1.027           2.053           179
        smartnews                1.438           2.876           372
        twitter                  0.097           0.097             2
dw      amp                      1.587           3.174             0
        direct                   1.149          11.487             9
        facebook                 1.220          10.979            10
        newsbreak                1.540           6.161            15
        other                    1.327          13.274             6
        search                   1.285          14.130            35
        smartnews                0.988           7.904             4
        twitter                  1.461          10.225             0
mw      amp                      1.629           8.146             1
        direct                   1.395          22.316           117
        discover                 1.851          12.960             0
        facebook                 1.025          13.324           647
        instagram                1.408           4.225             0
        newsbreak                0.957          11.489           315
        other                    1.267          22.797            66
        search                   1.338          16.053            58
        smartnews                1.312          17.050            41
        twitter                  1.389          13.895             2

                    revenue_computed
ad_unit referrer
amp     direct             26.835620
        discover           17.938620
        facebook            0.019656
        googlenews          0.032648
        newsbreak         165.533720
        other               0.037876
        search             34.085103
        smartnews          27.258728
        twitter             0.022116
dw      amp                 0.007935
        direct              7.304193
        facebook           50.606820
        newsbreak           6.253940
        other              10.548323
        search             55.265280
        smartnews           1.221168
        twitter             0.612159
mw      amp                 1.218492
        direct             36.549000
        discover            0.090699
        facebook          313.163125
        instagram           0.025344
        newsbreak          67.319208
        other              12.813171
        search             26.543244
        smartnews          10.123392
        twitter             3.486390

In [79]:
one_megabyte = 1024 * 1024

In [84]:
ad_unit_per_referrer_df_group["total_average_eCpm"] = (ad_unit_per_referrer_df_group["total_average_eCpm"]/1e6).round(3)

In [85]:
ad_unit_per_referrer_df_group["total_cpm_cpc_revenue"] = (ad_unit_per_referrer_df_group["total_cpm_cpc_revenue"]/1e6).round(3)

In [86]:
ad_unit_per_referrer_df_group["total_sum_eCpm"] = (ad_unit_per_referrer_df_group["total_sum_eCpm"]/1e6).round(3)

In [87]:
ad_unit_per_referrer_df_group

                    total_cpm_cpc_revenue  total_impressions  \
ad_unit referrer
amp     direct                     36.957              13027
        discover                   18.866               8666
        facebook                    0.020                 63
        googlenews                  0.024                 28
        newsbreak                 167.795             156904
        other                       0.038                 68
        search                     26.858              33189
        smartnews                  30.820              18956
        twitter                     0.022                228
dw      amp                         0.013                  5
        direct                      9.640               6335
        facebook                   61.449              41462
        newsbreak                   5.251               4061
        other                      13.173               7949
        search                     79.031              43008
        smartnews                   2.015               1236
        twitter                     0.940                419
mw      amp                         1.478                748
        direct                     41.487              26200
        discover                    0.059                 49
        facebook                  454.798             305519
        instagram                   0.025                 18
        newsbreak                  84.465              70344
        other                      20.666              10113
        search                     37.779              19838
        smartnews                  14.259               7716
        twitter                     2.964               2510

                    total_average_eCpm  total_sum_eCpm  total_clicks
ad_unit referrer
amp     direct                   2.060           4.120           237
        discover                 2.070           4.139            92
        facebook                 0.312           0.312             0
        googlenews               1.166           2.331             0
        newsbreak                1.056           3.168          2282
        other                    0.557           0.557             1
        search                   1.027           2.053           179
        smartnews                1.438           2.876           372
        twitter                  0.097           0.097             2
dw      amp                      1.587           3.174             0
        direct                   1.042          10.423             9
        facebook                 1.220          10.978            10
        newsbreak                1.540           6.161            15
        other                    1.327          13.274             6
        search                   1.285          14.130            35
        smartnews                0.988           7.904             4
        twitter                  1.461          10.225             0
mw      amp                      1.629           8.146             1
        direct                   1.395          22.316           117
        discover                 1.851          12.960             0
        facebook                 1.025          13.321           646
        instagram                1.408           4.225             0
        newsbreak                0.957          11.489           315
        other                    1.267          22.797            66
        search                   1.337          16.048            57
        smartnews                1.312          17.050            41
        twitter                  1.389          13.895             2

In [88]:
ad_unit_per_referrer_df_group["revenue_computed"] = (ad_unit_per_referrer_df_group.total_impressions * ad_unit_per_referrer_df_group.total_average_eCpm)/1e3

In [89]:
ad_unit_per_referrer_df_group

                    total_cpm_cpc_revenue  total_impressions  \
ad_unit referrer
amp     direct                     36.957              13027
        discover                   18.866               8666
        facebook                    0.020                 63
        googlenews                  0.024                 28
        newsbreak                 167.795             156904
        other                       0.038                 68
        search                     26.858              33189
        smartnews                  30.820              18956
        twitter                     0.022                228
dw      amp                         0.013                  5
        direct                      9.640               6335
        facebook                   61.449              41462
        newsbreak                   5.251               4061
        other                      13.173               7949
        search                     79.031              43008
        smartnews                   2.015               1236
        twitter                     0.940                419
mw      amp                         1.478                748
        direct                     41.487              26200
        discover                    0.059                 49
        facebook                  454.798             305519
        instagram                   0.025                 18
        newsbreak                  84.465              70344
        other                      20.666              10113
        search                     37.779              19838
        smartnews                  14.259               7716
        twitter                     2.964               2510

                    total_average_eCpm  total_sum_eCpm  total_clicks  \
ad_unit referrer
amp     direct                   2.060           4.120           237
        discover                 2.070           4.139            92
        facebook                 0.312           0.312             0
        googlenews               1.166           2.331             0
        newsbreak                1.056           3.168          2282
        other                    0.557           0.557             1
        search                   1.027           2.053           179
        smartnews                1.438           2.876           372
        twitter                  0.097           0.097             2
dw      amp                      1.587           3.174             0
        direct                   1.042          10.423             9
        facebook                 1.220          10.978            10
        newsbreak                1.540           6.161            15
        other                    1.327          13.274             6
        search                   1.285          14.130            35
        smartnews                0.988           7.904             4
        twitter                  1.461          10.225             0
mw      amp                      1.629           8.146             1
        direct                   1.395          22.316           117
        discover                 1.851          12.960             0
        facebook                 1.025          13.321           646
        instagram                1.408           4.225             0
        newsbreak                0.957          11.489           315
        other                    1.267          22.797            66
        search                   1.337          16.048            57
        smartnews                1.312          17.050            41
        twitter                  1.389          13.895             2

                    revenue_computed
ad_unit referrer
amp     direct             26.835620
        discover           17.938620
        facebook            0.019656
        googlenews          0.032648
        newsbreak         165.690624
        other               0.037876
        search             34.085103
        smartnews          27.258728
        twitter             0.022116
dw      amp                 0.007935
        direct              6.601070
        facebook           50.583640
        newsbreak           6.253940
        other              10.548323
        search             55.265280
        smartnews           1.221168
        twitter             0.612159
mw      amp                 1.218492
        direct             36.549000
        discover            0.090699
        facebook          313.156975
        instagram           0.025344
        newsbreak          67.319208
        other              12.813171
        search             26.523406
        smartnews          10.123392
        twitter             3.486390

In [99]:
ad_unit_by_referrer_df_group_expected

                   total_cpm_cpc_revenue total_impressions  \
Ad unit referrer
amp     direct                     36.96            13,027
        discover                   18.87             8,666
        facebook                    0.02                63
        googlenews                  0.02                28
        newsbreak                 167.61           156,904
        other                       0.04                68
        search                     26.86            33,189
        smartnews                  30.82            18,956
        twitter                     0.02               228
dw      amp                         0.01                 5
        direct                      9.69             6,367
        facebook                   61.50            41,481
        newsbreak                   5.25             4,061
        other                      13.18             7,951
        search                     79.03            43,008
        smartnews                   2.02             1,236
        twitter                     0.94               419
mw      amp                         1.48               748
        direct                     41.49            26,200
        discover                    0.06                49
        facebook                  455.08           305,525
        instagram                   0.02                18
        newsbreak                  84.46            70,344
        other                      20.67            10,114
        search                     37.83            19,838
        smartnews                  14.26             7,716
        twitter                     2.96             2,510

                    total_average_eCpm total_sum_eCpm
Ad unit referrer
amp     direct                    2.84           2.84
        discover                  2.18           2.18
        facebook                  0.31           0.31
        googlenews                0.86           0.86
        newsbreak                 1.07           1.07
        other                     0.56           0.56
        search                    0.81           0.81
        smartnews                 1.63           1.63
        twitter                   0.10           0.10
dw      amp                       2.54           2.54
        direct                    1.52           1.52
        facebook                  1.48           1.48
        newsbreak                 1.29           1.29
        other                     1.66           1.66
        search                    1.84           1.84
        smartnews                 1.63           1.63
        twitter                   2.24           2.24
mw      amp                       1.98           1.98
        direct                    1.58           1.58
        discover                  1.20           1.20
        facebook                  1.49           1.49
        instagram                 1.38           1.38
        newsbreak                 1.20           1.20
        other                     2.04           2.04
        search                    1.91           1.91
        smartnews                 1.85           1.85
        twitter                   1.18           1.18

In [102]:
ad_unit_by_referrer_df_expected

,Ad unit,Key-values,Date,Ad unit ID,Key-values ID,total_impressions,total_clicks,total_cpm_cpc_revenue,total_average_eCpm,Total CTR,referrer
0,amp,referrer=direct,10/11/22,2.206395e+10,4.482297e+11,"13,027",237,36.96,2.84,1.82%,direct
1,amp,referrer=discover,10/11/22,2.206395e+10,4.482303e+11,"8,666",92,18.87,2.18,1.06%,discover
2,amp,referrer=facebook,10/11/22,2.206395e+10,4.482298e+11,63,0,0.02,0.31,0.00%,facebook
3,amp,referrer=googlenews,10/11/22,2.206395e+10,4.482654e+11,28,0,0.02,0.86,0.00%,googlenews
4,amp,referrer=newsbreak,10/11/22,2.206395e+10,4.482575e+11,"156,904","2,277",167.61,1.07,1.45%,newsbreak
5,amp,referrer=other,10/11/22,2.206395e+10,4.482297e+11,68,1,0.04,0.56,1.47%,other
6,amp,referrer=search,10/11/22,2.206395e+10,4.482298e+11,"33,189",179,26.86,0.81,0.54%,search
7,amp,referrer=smartnews,10/11/22,2.206395e+10,4.482580e+11,"18,956",372,30.82,1.63,1.96%,smartnews
8,amp,referrer=twitter,10/11/22,2.206395e+10,4.482297e+11,228,2,0.02,0.10,0.88%,twitter
9,dw,referrer=amp,10/11/22,2.206167e+10,4.482298e+11,5,0,0.01,2.54,0.00%,amp
10,dw,referrer=direct,10/11/22,2.206167e+10,4.482297e+11,"6,367",9,9.69,1.52,0.14%,direct
11,dw,referrer=facebook,10/11/22,2.206167e+10,4.482298e+11,"41,481",10,61.50,1.48,0.02%,facebook
12,dw,referrer=newsbreak,10/11/22,2.206167e+10,4.482575e+11,"4,061",15,5.25,1.29,0.37%,newsbreak
13,dw,referrer=other,10/11/22,2.206167e+10,4.482297e+11,"7,951",6,13.18,1.66,0.08%,other
14,dw,referrer=search,10/11/22,2.206167e+10,4.482298e+11,"43,008",35,79.03,1.84,0.08%,search
15,dw,referrer=smartnews,10/11/22,2.206167e+10,4.482580e+11,"1,236",4,2.02,1.63,0.32%,smartnews
16,dw,referrer=twitter,10/11/22,2.206167e+10,4.482297e+11,419,0,0.94,2.24,0.00%,twitter
17,mw,referrer=amp,10/11/22,2.206179e+10,4.482298e+11,748,1,1.48,1.98,0.13%,amp
18,mw,referrer=direct,10/11/22,2.206179e+10,4.482297e+11,"26,200",117,41.49,1.58,0.45%,direct
19,mw,referrer=discover,10/11/22,2.206179e+10,4.482303e+11,49,0,0.06,1.20,0.00%,discover
20,mw,referrer=facebook,10/11/22,2.206179e+10,4.482298e+11,"305,525",647,455.08,1.49,0.21%,facebook
21,mw,referrer=instagram,10/11/22,2.206179e+10,4.482297e+11,18,0,0.02,1.38,0.00%,instagram
22,mw,referrer=newsbreak,10/11/22,2.206179e+10,4.482575e+11,"70,344",315,84.46,1.20,0.45%,newsbreak
23,mw,referrer=other,10/11/22,2.206179e+10,4.482297e+11,"10,114",66,20.67,2.04,0.65%,other
24,mw,referrer=search,10/11/22,2.206179e+10,4.482298e+11,"19,838",58,37.83,1.91,0.29%,search
25,mw,referrer=smartnews,10/11/22,2.206179e+10,4.482580e+11,"7,716",41,14.26,1.85,0.53%,smartnews
26,mw,referrer=twitter,10/11/22,2.206179e+10,4.482297e+11,"2,510",2,2.96,1.18,0.08%,twitter
27,Total,NaN,NaN,NaN,NaN,-,-,-,-,-,NaN

In [ ]:
ad_unit_by_referrer_df_group_expected.index.names = ["ad_unit", "referrer"]

In [101]:
ad_unit_per_referrer_df.to_csv("ad_unit_per_referrer_df.csv", index=False)

In [ ]:
from pandas.testing import assert_series_equal

In [ ]:
assert_series_equal(ad_unit_per_referrer_df_group.total_impressions, ad_unit_by_referrer_df_group_expected.total_impressions,)

In [90]:
ad_unit_per_referrer_df_group.to_csv("ad-unit-per-referrer-df-group_api.csv")

In [ ]:
ad_unit_by_referrer_df_group_expected

### Per hour

In [128]:
ad_unit_per_hours_expected_df = pd.read_csv(ad_unit_per_hours_expected_path, thousands=",")

NameError: name 'ad_unit_per_hours_expected_path' is not defined

In [104]:
ad_unit_per_hours_expected_df["ad_unit"] = ad_unit_per_hours_expected_df["Ad unit"].str.split("-").str[0].map(device_mapping)

In [105]:
ad_unit_per_hours_expected_df = ad_unit_per_hours_expected_df.dropna(axis="rows")

In [106]:
ad_unit_per_hours_expected_df

,Hour,Date,Ad unit,Ad unit ID,Total impressions,Total clicks,Total CPM and CPC revenue ($),Total average eCPM ($),ad_unit
0,0,10/10/22,amp-outsider,2.206395e+10,12947,191,14.17,1.09,AMP
1,0,10/10/22,dw-outsider,2.206167e+10,1837,0,2.83,1.54,WEB
2,0,10/10/22,mw-outsider,2.206179e+10,8061,35,14.75,1.83,WEB
3,0,10/10/22,smartview-outsider,2.223497e+10,5132,8,1.74,0.34,WEB
4,1,10/10/22,amp-outsider,2.206395e+10,7799,122,9.58,1.23,AMP
...,...,...,...,...,...,...,...,...,...
91,22,10/10/22,smartview-outsider,2.223497e+10,11579,28,3.66,0.32,WEB
92,23,10/10/22,amp-outsider,2.206395e+10,12989,145,11.94,0.92,AMP
93,23,10/10/22,dw-outsider,2.206167e+10,2311,1,3.29,1.42,WEB
94,23,10/10/22,mw-outsider,2.206179e+10,12258,40,17.54,1.43,WEB
95,23,10/10/22,smartview-outsider,2.223497e+10,7780,13,3.22,0.41,WEB

In [107]:
ad_unit_per_hours_expected_df.groupby(["ad_unit", "Hour"]).sum(numeric_only=True)

                Ad unit ID  Total impressions  Total clicks  \
ad_unit Hour
AMP     0     2.206395e+10              12947           191
        1     2.206395e+10               7799           122
        10    2.206395e+10              30763           449
        11    2.206395e+10              31670           421
        12    2.206395e+10              28743           413
        13    2.206395e+10              27998           415
        14    2.206395e+10              28820           432
        15    2.206395e+10              29106           488
        16    2.206395e+10              27940           438
        17    2.206395e+10              27897           412
        18    2.206395e+10              29830           480
        19    2.206395e+10              33500           465
        2     2.206395e+10               6321            86
        20    2.206395e+10              32260           400
        21    2.206395e+10              27687           411
        22    2.206395e+10              19062           283
        23    2.206395e+10              12989           145
        3     2.206395e+10               5785            76
        4     2.206395e+10               7039            80
        5     2.206395e+10              10899           131
        6     2.206395e+10              17896           225
        7     2.206395e+10              26947           324
        8     2.206395e+10              30261           402
        9     2.206395e+10              30128           425
WEB     0     6.635843e+10              15030            43
        1     6.635843e+10              11033            30
        10    6.635843e+10              41562            78
        11    6.635843e+10              45547            84
        12    6.635843e+10              47447            87
        13    6.635843e+10              41984            76
        14    6.635843e+10              38489            79
        15    6.635843e+10              35167            76
        16    6.635843e+10              36089            76
        17    6.635843e+10              45010            99
        18    6.635843e+10              45330           108
        19    6.635843e+10              43296            85
        2     6.635843e+10               9725            16
        20    6.635843e+10              42491            87
        21    6.635843e+10              44463            87
        22    6.635843e+10              34715            95
        23    6.635843e+10              22349            54
        3     6.635843e+10               9218            13
        4     6.635843e+10              13071            32
        5     6.635843e+10              21514            30
        6     6.635843e+10              34384            51
        7     6.635843e+10              46543            68
        8     6.635843e+10              48015            74
        9     6.635843e+10              44580            62

              Total CPM and CPC revenue ($)  Total average eCPM ($)
ad_unit Hour
AMP     0                             14.17                    1.09
        1                              9.58                    1.23
        10                            33.86                    1.10
        11                            39.15                    1.24
        12                            30.14                    1.05
        13                            30.03                    1.07
        14                            34.67                    1.20
        15                            30.55                    1.05
        16                            29.35                    1.05
        17                            27.27                    0.98
        18                            30.75                    1.03
        19                            28.40                    0.85
        2                             10.29                    1.63
        20                            25.69                    0.80
        21                            22.25                    0.80
        22                            21.13                    1.11
        23                            11.94                    0.92
        3                              8.40                    1.45
        4                              8.52                    1.21
        5                             11.46                    1.05
        6                             18.66                    1.04
        7                             27.28                    1.01
        8                             31.77                    1.05
        9                             36.21                    1.20
WEB     0                             19.32                    3.71
        1                             14.73                    3.93
        10                            56.63                    4.11
        11                            63.20                    4.00
        12                            63.81                    3.76
        13                            53.18                    3.66
        14                            45.77                    3.56
        15                            36.52                    3.06
        16                            35.26                    3.16
        17                            42.69                    3.02
        18                            44.43                    3.02
        19                            42.54                    3.01
        2                             13.36                    3.90
        20                            40.11                    2.76
        21                            40.40                    2.92
        22                            32.39                    2.84
        23                            24.05                    3.26
        3                             11.28                    3.52
        4                             19.00                    4.58
        5                             28.00                    3.97
        6                             39.81                    4.14
        7                             63.80                    4.33
        8                             60.86                    4.06
        9                             58.34                    4.00

In [129]:
ad_unit_per_hour_df.head()

,AdUnitOne,AdUnitTwo,hour,DATE,Ad unit ID 1,Ad unit ID 2,TotalUnfilledImpressions,TotalImpressions,TotalClicks,TotalCpmAndCpcRevenue,TotalEcpm,Column.TOTAL_LINE_ITEM_LEVEL_CTR,Column.TOTAL_CODE_SERVED_COUNT,ad_unit
0,dw-outsider,NaN,0,2022-10-11,22061670679,-,7,1442,1,1801683,1249434,0.0007,1579,dw
1,dw-outsider,NaN,1,2022-10-11,22061670679,-,3,907,1,1280768,1412093,0.0011,1025,dw
2,dw-outsider,NaN,2,2022-10-11,22061670679,-,4,429,0,837108,1951300,0.0000,536,dw
3,dw-outsider,NaN,3,2022-10-11,22061670679,-,7,677,2,1299539,1919556,0.0030,789,dw
4,dw-outsider,NaN,4,2022-10-11,22061670679,-,0,867,1,1413295,1630098,0.0012,992,dw

In [131]:
ad_unit_per_hour_df_group = ad_unit_per_hour_df.groupby(["ad_unit", "hour", "DATE"]).agg(total_cpm_cpc_revenue=("TotalCpmAndCpcRevenue", "sum"), 
                                                                                 total_impressions=("TotalImpressions", "sum"), 
                                                                                 total_average_eCpm=("TotalEcpm", "mean"),
                                                                                 total_sum_eCpm=("TotalEcpm", "sum"),
                                                                                 total_unfilled_impressions=("TotalUnfilledImpressions", "sum"))

In [132]:
ad_unit_per_hour_df_group.total_cpm_cpc_revenue = (ad_unit_per_hour_df_group.total_cpm_cpc_revenue/1e6).round(3)
ad_unit_per_hour_df_group.total_average_eCpm = (ad_unit_per_hour_df_group.total_average_eCpm/1e6).round(3)
ad_unit_per_hour_df_group.total_sum_eCpm = (ad_unit_per_hour_df_group.total_sum_eCpm/1e6).round(3)

In [133]:
ad_unit_per_hour_df_group

                           total_cpm_cpc_revenue  total_impressions  \
ad_unit   hour DATE
amp       0    2022-10-11                  8.570               8729
          1    2022-10-11                  9.758               5440
          2    2022-10-11                  3.798               4065
          3    2022-10-11                  4.826               3631
          4    2022-10-11                  9.627               4363
...                                          ...                ...
smartview 19   2022-10-11                 12.666              21386
          20   2022-10-11                 17.044              27161
          21   2022-10-11                 16.947              27983
          22   2022-10-11                 10.910              18525
          23   2022-10-11                  7.416              10673

                           total_average_eCpm  total_sum_eCpm  \
ad_unit   hour DATE
amp       0    2022-10-11               0.982           0.982
          1    2022-10-11               1.794           1.794
          2    2022-10-11               0.934           0.934
          3    2022-10-11               1.329           1.329
          4    2022-10-11               2.207           2.207
...                                       ...             ...
smartview 19   2022-10-11               0.592           0.592
          20   2022-10-11               0.628           0.628
          21   2022-10-11               0.606           0.606
          22   2022-10-11               0.589           0.589
          23   2022-10-11               0.695           0.695

                           total_unfilled_impressions
ad_unit   hour DATE
amp       0    2022-10-11                          17
          1    2022-10-11                           4
          2    2022-10-11                           9
          3    2022-10-11                           7
          4    2022-10-11                          20
...                                               ...
smartview 19   2022-10-11                          20
          20   2022-10-11                          50
          21   2022-10-11                          33
          22   2022-10-11                          33
          23   2022-10-11                          28

[96 rows x 5 columns]

In [ ]:
assert_series_equal(ad_unit_by_referrer_df_expected["Total impressions"], ad_unit_per_hour_df_group.total_impressions)

In [ ]:
ad_unit_per_referrer_df

In [ ]:
ad_unit_per_hour_df_group.to_csv("ad_unit_per_hour_df_group.csv")
ad_unit_per_referrer_df_group.to_csv("ad_unit_per_referrer_df_group.csv")

tommorow make sure I select the date and not using yesterday and today

In [134]:
ad_unit_per_hour_df_group.to_csv("ad_unit_per_hour_df_group_api.csv")